
$black-color: #26292c;
$green-color: #2cbf55;
$green-color-hover: #56c96e;
$gray-bgcolor: #f4f4f4;
$principal-color: #5DADE2;

$principal-font: "Helvetica Neue","Trebuchet MS",Tahoma,Verdana,Arial,sans-serif;