<div class="row">
  <div class="col-md-12">
    <section class="panel panel-default">
			<div class="panel-heading">
				<strong>
					<span class="fa fa-list"></span>
					Campos extras para Personas
				</strong>
			</div>
			<div class="panel-body" style="overflow-x:auto;">
        <%= render "list" %>
      </div>
    </section>
  </div>
</div>
