<footer>
	<div class="footer-inner">
		<div class="cols">
			<div class="col">
				<ul class="list">
					<li class="item">
						<b>Pipedrive</b>
					</li>
					<li class="item">
						<a>
							La empresa
						</a>
					</li>
					<li class="item">
						<a class="link">
							Precios
						</a>
					</li>
					<li class="item">
						<a class="link">
							Trabajos
						</a>
					</li>
					<li class="item">
						<a class="link">
							Blog
						</a>
					</li>
				</ul>
			</div>

			<div class="col">
				<ul class="list">
					<li class="item">
						<b>Producto</b>
					</li>
					<li class="item">
						<a class="link">
							Características
						</a>
					</li>
					<li class="item">
						<a class="link">
							Aplicaciones e integraciones
						</a>
					</li>
					<li class="item">
						<a class="link">
							Estado
						</a>
					</li>
					<li class="item">
						<a class="link">
							API
						</a>
					</li>
				</ul>
			</div>

			<div class="col">
				<ul class="list">
					<li class="item">
						<b>Leer más</b>
					</li>
					<li class="item">
						<a class="link">
							Recursos
						</a>
					</li>
					<li class="item">
						<a class="link">
							Recibe nuestro boletín
						</a>
					</li>
					<li class="item">
						<a class="link">
							Sales Pipeline Academy
						</a>
					</li>
					<li class="item">
						<a class="link">
							Gestión de embudo de ventas
						</a>
					</li>
				</ul>
			</div>

			<div class="col">
				<ul class="list">
					<li class="item">
						<b>Ayuda</b>
					</li>
					<li class="item">
						<a class="link">
							Centro de asistencia
						</a>
					</li>
					<li class="item">
						<a class="link">
							<span class="circle circle-active"></span> Disponible ahora
						</a>
					</li>
				</ul>
			</div>

			<div class="col">
				<ul class="list">
					<li class="item">
						<b>Idioma</b>
					</li>
					<li class="item">
						<a class="link">
							La empresa
						</a>
					</li>
					<li class="item">
						<select>
							<option>Español</option>
							<option>English</option>
							<option>Italiano</option>
							<option>Nederlands</option>
						</select>
					</li>
				</ul>
			</div>

		</div>

		<div class="row">
			<div class="col-md-8 col-sm-12">
				<ul class="list-inline links-footer">
					<li>© 2018 Pipedrive</li>
					<li><a>Términos de servicio</a></li>
					<li><a>Política de privacidad</a></li>
					<li><a>Mapa del sitio</a></li>
				</ul>
			</div>
			<div class="col-md-4 col-sm-12">
				<div class="content-social-footer">
					<ul class="list-inline">
						<li>
							<a>
								<i class="fa fa-facebook" aria-hidden="true"></i>
							</a>
						</li>
						<li>
							<a>
								<i class="fa fa-twitter" aria-hidden="true"></i>
							</a>
						</li>
						<li>
							<a>
								<i class="fa fa-linkedin" aria-hidden="true"></i>
							</a>
						</li>
					</ul>
					<br>
					<p>Pipedrive es un CRM de ventas basado en la web. </p>
				</div>
			</div>
		</div>


	</div>
</footer>



