<div class="real-time-messages-cont" ng-show="fCtrl.real_time_messages.length > 0">
  <div class="row" ng-repeat="message in fCtrl.real_time_messages">
    <div class="col-md-12 alert alert-warning">
      {{message.message}}
    </div>
  </div>
</div>
