<div class="row">
	<div class="col-md-12">
		<section class="panel panel-default">
			<div class="panel-heading">
				<strong>
					<span class="fa fa-address-card-o"></span> <%= t("users.edit.title")%>
				</strong>
			</div>
			<div class="panel-body">
				<%= render "form" %>
			</div>
		</section>
	</div>
</div>
